# Require review for security-sensitive areas
/.github/         @nanado002
/cloudformation/  @nanado002
/k8s/             @nanado002
/.gitleaks.toml   @nanado002
/scripts/         @nanado002
/app/backend/     @nanado002
/app/frontend/    @nanado002
